<!DOCTYPE html>
<html>
<head>
	<title>Marvel the avengers</title>
	<script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="avengersApp">
	<div ng-controller="characterController">
    <div>
  		Search: <input ng-model="query">
          Sort by:
          <select ng-model="orderProp">
            <option value="name" required>Name</option>
            <option value="weapon" required>Weapon</option>
            <option value="description" required  min="20" max="100">Description</option>
          </select>

          <ul>
          	<li ng-repeat="heroes in hero | filter:query | orderBy:orderProp">
          		Name:<span>{{heroes.name}}</span><br>
          		Weapon:<span>{{heroes.weapon}}</span><br>
          		Description:<span>{{heroes.description}}</span><br>
              <button ng-click="delete(heroes)">Delete Hero</button><br><br>
          	</li>
          </ul>
    </div>
	
	
    <div>
      <h3>Add SuperHero</h3>
      Name  :<input ng-model="name"><br>
      Weapon:<input ng-model="weapon"><br>
      Description :<input ng-model="description"><br>
      <button ng-click="saveCharecter()">SaveCharecter</button>
    </div>
  </div>


</body>
</html>